@property --tt-gradient-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}
@property --tt-image-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}
@property --tt-content-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}
@media print {
    .two_thirds {
        --tt-gradient-position: 80%;
        --tt-image-position: 0%;
        --tt-content-opacity: 1;
        opacity: 1;
    }
}
@keyframes tt_open {
    0% {
        opacity: 0;
        --tt-gradient-position: 0%;
        --tt-image-position: 100%;
        --tt-content-opacity: 0;
    }
    20% {
        opacity: 1;
        --tt-gradient-position: 0%;
        --tt-image-position: 100%;
        --tt-content-opacity: 0;
    }
    80% {
        --tt-content-opacity: 0;
    }
    100% {
        opacity: 1;
        --tt-content-opacity: 1;
        --tt-gradient-position: 80%;
        --tt-image-position: 0%;
    }
}
@keyframes tt_close {
    0% {
        --tt-gradient-position: 80%;
        --tt-image-position: 0%;
        --tt-content-opacity: 1;
        opacity: 1;
    }
    1% {
        --tt-content-opacity: 0;
    }
    50% {
        --tt-gradient-position: 80%;
        --tt-image-position: 0%;
        --tt-content-opacity: 1;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        top: 0;
    }
    100% {
        --tt-gradient-position: 0%;
        --tt-image-position: 100%;
        --tt-content-opacity: 0;
        top: -100%;
    }
}
.two_thirds {
    background-color: var(--slide-bg-color-alt) !important;
    align-items: flex-start;
}
.two_thirds {
    animation-duration: 1.5s;
    animation-timing-function: steps(100);
    animation-fill-mode: both;
}
.two_thirds.current {
    --tt-gradient-position: 0%;
    opacity: 0;
    animation-name: tt_open;
}
#presentation-container #slide_0.two_thirds.current {
    animation-delay: 1500ms;
}
.two_thirds.hidden {
    --tt-gradient-position: 80%;
    animation-name: tt_close !important;
    animation-delay: -500ms !important;
    animation-duration: 1.5s !important;
}
.two_thirds.image_text {
    align-items: flex-end;
}
.two_thirds .bg-2 {
    background: linear-gradient(0.25turn, var(--slide-bg-color-alt) 0% var(--tt-gradient-position), color(from var(--slide-bg-color) srgb r g b / .75) var(--tt-gradient-position) 100%);
}
.two_thirds.image_text .bg-2 {
    background: linear-gradient(0.75turn,var(--slide-bg-color-alt) 0% var(--tt-gradient-position), color(from var(--slide-bg-color) srgb r g b / .75) var(--tt-gradient-position) 100%);
}
.two_thirds .bg-2::after {
    content: '';
    display: block;
    width: 40svh;
    height: 40svh;
    border-radius: 40svh;
    background-color: var(--slide-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--slide-bg-image);
    border: 8px solid var(--slide-bg-color-alt);
    position: absolute;
    top: calc(50% - 8px - 20svh);
    right: calc(20% - 20svh + 8px + var(--tt-image-position));
}
.two_thirds.image_text .bg-2::after {
    left: calc(20% - 20svh + 8px + var(--tt-image-position));
}
.two_thirds.text_image .bg-2::after,
.two_thirds.image_text .bg-2::after {
    background-image: var(--slide-image);
}
.two_thirds.text_image .bg-1,
.two_thirds.image_text .bg-1 {
    background-image: var(--slide-image) !important;
}
.two_thirds .title,
.two_thirds .subtitle {
    text-align: left;
    text-shadow: none;
    margin: 0 0;
}
.two_thirds .title {
    font-size: clamp(4rem, 8cqi, 6rem);
    line-height: 1;
}
.two_thirds .subtitle {
    line-height: 1.3;
    margin-bottom: 1rem;
}
.two_thirds .content {
    width: calc(80% - 20svh - 24px);
    border-left: 4px solid var(--slide-bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: var(--tt-content-opacity);
}
.two_thirds.image_text .content {
    border-left: none;
    border-right: 4px solid var(--slide-bg-color);
    align-items: flex-end;
}
.two_thirds .content > div {
    align-items: flex-start;
    justify-content: flex-start;
}
.two_thirds.text_image .content > div,
.two_thirds.image_text .content > div  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}
.two_thirds.text_image .content > div {
    align-items: flex-start;
}
.two_thirds.image_text .content > div {
    align-items: flex-end;
}
.two_thirds.text_image .content > div > div,
.two_thirds.image_text .content > div > div {
    flex-grow: 1;
    background-color: transparent;
    padding: 1rem 0;
}
.two_thirds.image_text .content > div > div {
    text-align: right;
}
.two_thirds.text_image .content > div > img,
.two_thirds.image_text .content > div > img {
    display: none;
}
.two_thirds.three_text_columns .content > div div {
    background-color: hsl(from var(--slide-bg-color) h s 75% / .25);
}