#slide_$slide_position {
    --slide-bg-color: $background_color;
    --slide-bg-color-alt: $background_color_alt;
    --slide-bg-image: url($background_image);
    --slide-text-color: $text_color;
    --slide-title-text-color: $title_text_color;
    --slide-accent-color: $accent_color;
    --slide-accent-color-str: '$accent_color';
    --header-alignment: $header_alignment;
    font-family: '$font_family', sans-serif;
    background-color: var(--slide-bg-color);
    z-index: $z_index;
}
#presentation-container #slide_$slide_position {
    animation-play-state: paused;
}
#slide_$slide_position .content header {
    font-family: '$header_font_family', sans-serif;
}
#slide_$slide_position .bg-1 {
    --i: $slide_position;
    background-image: var(--slide-bg-image);
}
#slide_$slide_position thead {
    background-color: var(--slide-bg-color);
}
$transition
$template
