#slide_$slide_position {
    --slide-bg-color: $background_color;
    font-family: '$font_family', sans-serif;
    background-color: var(--slide-bg-color);
    z-index: $z_index;
}
#slide_$slide_position .bg-1 {
    --i: $slide_position;
    background-image: url('$background_image');
}
#slide_$slide_position thead {
    background-color: var(--slide-bg-color);
}
$transition
$template
