#slide_$slide_position {
    --slide-image: url($image);
}
h1.text-image-$id {
    font-size: clamp(2rem, calc(1.8rem + 1.5vh), 3rem);
    text-align: var(--header-alignment);
    margin-bottom: 0.2rem;
    color: var(--slide-title-text-color);
    text-shadow: 0 0 10px #000;
}
p.text-image-$id {
    font-size: clamp(1rem, calc(0.8rem + 1.5vh), 2rem);
    color: var(--slide-text-color);
    text-align: var(--header-alignment);
    margin: 0;
    margin-bottom: 3rem;
}
div.text-image-$id {
    color: var(--slide-text-color);
}
div.text-image-$id {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 20px;
    font-size: clamp(0.5rem, calc(0.2rem + 1.5vh), 1.8rem);
    font-weight: 300;
    justify-content: center;
    align-items: center;
}
div.text-image-$id > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: var(--slide-text-color);
    background-color: var(--slide-bg-color);
    border-radius: 4px;
    opacity: 0.8;
    padding: 1rem 2rem;
}
div.text-image-$id > img {
    border-radius: 4px;
    width: 100%;
}
