h1.video-$id {
    font-size: clamp(2rem, 5cqi, 5rem);
    line-height: 1;
    margin-bottom: 0.2rem;
    color: var(--slide-title-text-color);
    text-shadow: 0 0 10px #000;
}
p.video-$id {
    font-size: clamp(1rem, 3cqi, 3rem);
    color: var(--slide-text-color);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
div.video-$id {
    border-radius: 4px;
    padding: 2rem 0;
    margin: 0 0 2vh;
    background-color: #000000;
}
div.video-$id > video {
    width: 100%;
    max-height: 60vh;
}
@media print {
    div.video-$id > video {
        width: 40svw;
        max-height: 40svh;
    }
}
