h1.video-$id {
    font-size: clamp(2rem, calc(1.8rem + 1.5vh), 3rem);
    margin-bottom: 0.2rem;
    color: var(--slide-text-color);
    text-shadow: 0 0 10px #000;
}
p.video-$id {
    font-size: clamp(1rem, calc(0.8rem + 1.5vh), 2rem);
    color: var(--slide-text-color);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
div.video-$id {
    border-radius: 4px;
    padding: 2rem 0;
    margin: 0 0 2vh;
    background-color: #000000;
}
div.video-$id > video {
    width: 100%;
    max-height: 60vh;
}
